.cart-item {
  border: 2px grey solid;
}
.book {
  padding: 1rem;
}
.book-image {
  height: 10rem;
  width: 10rem;
}
.total {
  position: absolute;
  top: 90%;
  left: 80%;
  font-family: "Goldman", sans-serif;
  font-size: 2rem;
}
.book-title {
  font-size: larger;
}
