.card {
  width: 18rem;
  text-align: center;
  height: 28rem;
  background-image: linear-gradient(blue, red);
  margin-left: 10% !important;
}
.card-img-top {
  height: 15rem;
}
.character-name {
  font-family: "Goldman", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline;
}
.character-section {
  margin-top: 5%;
}
.slider-control-bottomcenter {
  bottom: -15% !important;
}
.slider-control-centerleft {
  left: -5% !important;
}
.slider-control-centerright {
  right: -5% !important;
}
.slider {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .character-section {
    margin-top: 10%;
  }
}
@media screen and (max-width: 424px) {
  .character-section {
    margin-top: 17%;
  }
  .character-name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 374px) {
  .character-name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .slider-control-bottomcenter {
    display: none;
  }
}
