a {
  color: wheat;
}
a:hover {
  color: gold;
  text-decoration: none;
}
.app-bar {
  background-color: #654062;
  color: #eff8ff;
}
body {
  background-color: #121221;
  color: white;
  text-align: center;
}
.navbar {
  background-color: gold;
  font-family: "Noto Sans JP", sans-serif;
}

button:focus {
  outline: none;
}
#footer {
  background-color: grey;
  font-size: smaller;
  height: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.light-theme {
  background-color: #f5f4f4 !important;
  color: black !important;
}
.light-theme-comic-link {
  color: black !important;
}
.product-card:hover {
  margin: 0px auto 10px;
}
