.book-img {
  height: 15rem;
  width: 12rem;
}
.book-title {
  font-family: "Goldman";
}
.description {
  width: 85%;
  margin: 0 auto;
}
.description-title {
  font-size: 2rem;
  font-family: "Sacramento";
}

@media screen and (max-width: 1000px) {
  .book-title {
    font-size: 2rem;
  }
  .book-description,
  .price,
  .table,
  .characters {
    font-size: 0.8rem;
  }
  .publish-date {
    margin-top: 5%;
  }
}
@media screen and (max-width: 700px) {
  .book-title {
    font-size: 1.75rem;
  }
}
