#searched-body {
  margin-bottom: 3rem;
  position: relative;
}
.selector,
.clear-filter-sort-button {
  margin-left: 1rem !important;
}
.sort-and-filter {
  position: absolute;
  top: -3rem;
  left: 5.5rem;
}
